{% extends 'user/base.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <!-- Left Column -->
        <h3>Profile Details</h3>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <h4>Follows</h4>
        {% if user.profile.follows.all %}
            <ul>
                {% for profile in user.profile.follows.all %}
                    <li>{{ profile.user.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No User added yet</p>
        {% endif %}
    </div>

    </div>
    <div class="col-md-8">
        <!-- Right Column -->
        <h3>Spaces Created</h3>
        {% if user_spaces %}
            {% for workspace in user_spaces %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ workspace.name }}</h5>
                            <p class="card-text">{{ workspace.description }}</p>
                            <span class="muted-text">{{ workspace.members.count }} members</span>
                            <p></p>
                            <a href="{% url 'workspace_view' workspace.id %}" class="btn btn-primary">View</a>
                            {% if workspace.creator == current_user %}
                            <a href="{% url 'delete_workspace' workspace.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            no workspace yet
        {% endif %}        
            
    </div>
</div>
{% endblock %}
